<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="servicio" class="es.curso.spring.basico.servicios.ServicioBasico">
		<constructor-arg name="persistencia" ref="persistencia"/>
	</bean>
	
	<bean id="persistencia" class="es.curso.spring.basico.persistence.PersistenciaMemoria"/>

</beans>
